<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringSecurityStudy:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringSecurityStudy-1.0-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringSecurityStudy</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringSecurityStudy" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:6.0.10" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:6.0.10" />
          <element id="library" level="project" name="Maven: io.micrometer:micrometer-observation:1.10.8" />
          <element id="library" level="project" name="Maven: io.micrometer:micrometer-commons:1.10.8" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring6:3.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: com.alibaba.fastjson2:fastjson2:2.0.37" />
          <element id="library" level="project" name="Maven: com.alibaba.fastjson2:fastjson2-extension-spring6:2.0.37" />
          <element id="library" level="project" name="Maven: com.alibaba.fastjson2:fastjson2-extension:2.0.37" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:2.0.5" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-jdk14:2.0.5" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.28" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-api:10.1.16" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-servlet-api:10.1.16" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringSecurityStudy-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringSecurityStudy/web/Web" />
    </root>
  </artifact>
</component>